[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi-mail = "*"
fastapi = "*"
fastapi-sqlalchemy = "*"
pydantic = "*"
alembic = "*"
psycopg2 = "*"
uvicorn = "*"
python-dotenv = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
